<%messages.forEach((msg)=>{%>
<h1><%-msg.title%></h1>
<p><%-msg.message%></p>
<%if (user.memberstatus) {%>
<p><%-msg.author%></p>
<p><%-msg.posted%></p>
<%} else {%>
<p>Anonymous</p>
<%}%> <% if (user.isadmin) {%>
<form action="/delete/<%-msg.id%>" method="POST">
	<button type="submit">Delete</button>
</form>
<%}%> <% }); %>
